body {
  top: 0 !important;
  transition: opacity ease-out 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.skiptranslate {
  display: none !important;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none !important;
}

#translateTest {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
