body {
  padding: 0;
  margin: 0;
  top: 0 !important;
  transition: opacity ease-out 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.skiptranslate {
  display: none !important;
}

#translateTest {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.topbar {
  padding: 0 0.5em;
  border-bottom: 1px solid grey;
  height: 2.5em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.languages {
  display: flex;
  flex-direction: row;
}
.languages > *:not(:first-child) {
  margin-left: 1em;
}
.languages .lang {
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: calc(100% - 2.5em - 1px);
  min-width: 0;
  position: relative;
}

.delimiter {
  width: 0;
  border-right: 1px solid grey;
}

code {
  vertical-align: middle;
}

aside {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 30em;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 2em 1em 2em 2em;
}

aside nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  padding: 2em;
  max-width: calc(100% - 30em);
}
